html, body, .form-body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

body {
  color: white;
  background: black;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helevecta Neue", Sans-Serif;
}

.form-body {
  color: white;
  background: white;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

/* index html */

.readme {
  color: red;
  text-align: center;
}

.pulse {
  animation: pulse 4s infinite;
}

@keyframes pulse {
 50% {
   text-shadow: 8px 5px 15px red;
  }
}

.warn {
  color: red;
  text-align: center;
}

#showin {
  text-align: auto;
  display: none;
  color: red;
}

#myBtn {
  color: red;
  background-color: black;
  border-color: white;
  border-radius: 50px;
  margin: 15px;
  animation: bpulse 4s infinite;
  height: 20px;
  width: auto;
  
}

/* button animation */

@keyframes bpulse {
 50% {
   box-shadow: 0px 0px 30px red;
 }
}

.showspan {
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.spancont {
  border: 2px solid white;
  text-align: left;
}

.show {
  color: red;
  text-align-last: center;
}

.to-signup {
  background-color: black;
  border-color: white;
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
}

.list {
  text-align-last: left;
}

.signupt {
  user-select: none;
  color: red;
}

/* Terms css */

.terms {
  color: #00AFF0;
  text-align: center;
}

.termsdisc {
  color: white;
  text-align: center;
}


#terms-text {
  display: none;
  color: #00AFF0;
  margin: 20px;
  text-align: center;
}


/* border animation */

.container-border {
  border-style: none;
  border-color: white;
  height: 30px;
  width: 97vw;
  display: block;
  position: relative;
  background: none;
}

svg {
  width: 97vw;
  height: 45px;
  z-index: -1;
  align-items: center;
  justify-content: center;
  display: flex;
  background: none;
  fill: none;
}

.button {
  height: 43px;
  width: 96.5vw;
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1px;
  position: relative;
  border-style: none;
  background: none;
  color: #00AFF0;
}

rect {
  z-index: 1;
  stroke: url(#linear);
  stroke-width: 3;
  stroke-dasharray: 250, 750;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: border 6s linear infinite;
  fill: none;
  width: 97vw;
  height: 45px;
  align-items: center;
  justify-content: center;
  display: flex;
}
@keyframes border {
  to {
    stroke-dashoffset: -1000;
  }
}

.createacc {
  width: auto;
}

.signupsub {
  display: inline-block;
  color: #00AFF0;
  background-color: white;
  border-color: white;
  transition-duration: 0.4;
}

.signupsub:active {
  background-color: black;
}

.signupsubt {
  user-select: none;
  color: red;
}

#to-form {
  color: #00AFF0;
  background-color: black;
  border-color: #00AFF0;
  border-radius: 2px;
  margin: 15px;
  display: block;
  margin-top: 50px;
}

/* form css */ 

main {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  
}

.form-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid grey;
  
  margin-top: 25%;
  height: 60%;
  width: 58%;
  
}

.form-container::before {
  content: "";
  position: absolute;
  margin-top: -13px;
  height: 60%;
  width: 100%;
  border-top: 9px solid #00AFF0; 
  border-radius: 35px;
  
}

img {
  display: flex;
  border-radius: 40px;
  opacity: 1;
  position: absolute;
  height: 60px;
  width: 42%;
  background: white;
  z-index: -1;
  margin-top: 5%;
  }


form {
  display: block;
  margin-top: 45px;
  --text-color: black;
  max-width: 500px;
  align-content: center;
  justify-content: center;
  
  width: auto;
  
  
}

.field {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 2px dashed var(--text-color);
  margin: 4rem auto 1rem;
  
}

/* Socials */

.social-links {
  position: absolute; /* Align links horizontally in the center */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 85%;
  right: 41%;
}

.social-links a {
  display: inline-block;
  margin: 0 30px; /* Adjust the horizontal spacing between links */
}

.social-links img {
  width: 50px; /* Adjust the size of the social media icons */
  height: 50px;
}




/* field animation */


.label {
  color: var(--text-color);
  font-size: 1.2rem;
  width: 100%;
  margin: auto;
}

.label2 {
  color: var(--text-color);
  font-size: 1rem;
}


/*input style*/

.input {
  display: block;
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.input:invalid {
  color: #d2042D;
}

.input:valid {
  color: #00AFF0;
}

/* gradient */

/* border animation */

.field::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #00AFF0;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 500ms ease;
  top: 2px;
  
}


.field:focus-within {
  border-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

/* label animation */

.label {
  z-index: 1;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
}

.field:focus-within .label, .input:not(:placeholder-shown) + .label {
  transform: scale(0.8) translateY(-5rem);
}

.submit {
  background: linear-gradient(to left, white 50%, #00AFF0 50%) right;
  background-size: 200%;
  border-color: #00AFF0;
  border-radius: 5px;
  color: #00AFF0;
  z-index: 3;
  box-shadow: 0px 2px 8px 0px grey;
  position: relative;
  margin: 0px;
  transition: 400ms ease-out;
  transform-origin: 0%;
  height: 35px;
  width: 5rem;
  position: absolute;
}


.submit:hover {
  transform: scaleX(1);
  background-position: left;
  color: black;
  border-color: white;
}

.submit-text {
  width: 20%;
  position: absolute;
  z-index: 4;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10%;
  color: black;
  transition: 400ms ease-out;
  transform-origin: 0%;
  margin-left: 25%;
  font-family: 'Franklin Gothic Medium', Arial;
}

.submit:hover + .submit-text {
  color: white;
}
  

.submit-wrapper {
  width: 5rem;
  position: relative;
  display: block;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 85px;
  right: 50px;
}

/*extra tests*/

.switch {
  position: relative;
  display: inline-block;
  border-radius: 80px;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 1;
  width: 100px;
  height: 10px;
  border-radius: 80px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 80px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
